/* Color Pallete:
background color: #285430
Title Background: #e6d5a5
Text color: #285430
Border Color: red
Text Backgroun: #fff
*/

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;600&display=swap');



body {
    margin:0;
    padding: 0;
    background-color: #285430;
    color: #e6d5a5;
    font-family: 'Chivo', sans-serif;
}

.title {
    background-color: #e6d5a5;
    color: #c5b358;
    margin: 0;
    padding: 1rem 2rem;
    text-align: center
    
}

/* Start of christmas moving text*/

.title {
    background-image: 
    linear-gradient(to right, red, green, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: christmas-animation 35s linear infinite;
}

@keyframes christmas-animation {
    to {
        background-position: 4500vh;
    }

}

/* End of christmas moving text*/

.title2TheSequal {
    background-color: #e6d5a5;
    color: transparent;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 0px; 
    width: 100vw;  /* 1454.3px */
    height: 90px;
    z-index: -1;
    border-bottom:8px solid red;
}

.Childe {
    background-color: #e6d5a5;
    color: #285430;
    margin: 4rem 3rem;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 10px 10px 5px #000;
    transition: .3s ease-in-out;
    border-radius: 1rem;
    border-bottom:8px solid red;
    border-right:8px solid red;
    border-left:8px solid red;
}

.projectImage {
    border-radius: 6rem;
    
    
}

.helpMe {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}

.yelan {
    color: red;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}




.Childe:hover {
     transform: scale(1.05);
}







@media (min-width: 800px) {
    body {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
        }
    
    .Biggie {
        display: flex;
        flex-direction:row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .Childe {
        max-width: 30%;
    }
    
    .yelan {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        flex-wrap: wrap;
    }
}